<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918832087052-lhdao8ltovi1a94qbbnenuha3nl12b8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918832087052-lhdao8ltovi1a94qbbnenuha3nl12b8m</string>
	<key>API_KEY</key>
	<string>AIzaSyD62njBIiI7zikg14GXqdt32Iw1lz-nhwY</string>
	<key>GCM_SENDER_ID</key>
	<string>918832087052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.com.GoodLifeApplocations</string>
	<key>PROJECT_ID</key>
	<string>test-9736a</string>
	<key>STORAGE_BUCKET</key>
	<string>test-9736a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918832087052:ios:a1ba611536893b6b4e2e29</string>
</dict>
</plist>